body {
    font-family: arial, Arial, Helvetica, sans-serif;
    background-color: rgb(241, 188, 170);
    }

.coursePrice {
    width: 500px;
    margin: 100px auto;
    padding: 40px;
    background-color: white;
    border-radius: 30px;
    line-height: 24px;
}

.course.Price label{
    display: block;
    margin-bottom: 50px;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(243, 129, 129);
    margin-top: 0%;
}